.btn {
    border: 1px solid transparent;
    border-radius:22px ;
    cursor: pointer;
    
// в секции hero - font-size: 14px; - прописать отдельно
}
.btn--circle{
height: 40px;
width: 40px;
border: 1px solid transparent;
border-radius:50%;
cursor: pointer;
}

.btn--transparent{
    background-color: var(--secondary-text);
    color: var(--primary-accent);

    &:hover,
    &:focus{ 
        background-color: var(--primary-accent);
        color: var(--secondary-text);
    }

}

.btn--accent {
    background-color: var(--primary-accent);
    color: var(--secondary-text);

    &:hover,
    &:focus{
        background-color: var(--secondary-text);
        color: var(--primary-accent);
    }

}


// в кнопках предлагаю структуру классов (на примере hero):
// hero-button hero-button__buy btn btn--accent
// btn - сделать БЭМ блоком, а размеры на hero дать.
// font-size, line-height - тоже разные.

// КТО ДЕЛАЛ НОРМАЛАЙЗ ПОПРАВЬТЕ


